
.sidebar{
   position: relative;
    margin-top: 60px;
}
legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

#menu{
	background-color: red;
}