.table-striped > tbody > tr{
    background-color: #ccc;
}

.table-hover > tbody > tr:hover{
    background-color:#9C9C9C;
    color: #fff;
 
}


.panel-body{
	background-color:#7A8B8B
}

.panel{
	background-color: red;
}

body{
	background-color:#E8E8E8
}

thead{
    background-color:#AFE74F
}

label{
	color: white
}

.select{
	padding-top: 4px;
}

.btn-group{
padding-left: 33px	
}
